#wrapper a,
#wrapper body,
#wrapper center,
#wrapper details,
#wrapper div,
#wrapper form,
#wrapper h1,
#wrapper h2,
#wrapper h3,
#wrapper h4,
#wrapper h5,
#wrapper h6,
#wrapper header,
#wrapper html,
#wrapper i,
#wrapper iframe,
#wrapper p,
#wrapper s,
#wrapper section,
#wrapper span {
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    font-size:100%;
    text-decoration:none;
    vertical-align:baseline
}
#wrapper details,
#wrapper header,
#wrapper section {
    display:block
}
#wrapper .columns:after,
#wrapper .columns:before,
#wrapper .section:after,
#wrapper .section:before,
#wrapper .wrapper:after,
#wrapper .wrapper:before,
#wrapper section:after,
#wrapper section:before {
    content:" ";
    display:table
}
#wrapper .columns:after,
#wrapper .section:after,
#wrapper .wrapper:after,
#wrapper section:after {
    clear:both
}
#wrapper {
    display:block;
    margin:0;
    padding:0;
    position:relative;
    text-align:left;
    width:100%;
    z-index:999999999;
    color:#404040!important;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica Neue,Arial,sans-serif!important;
    font-size:15px!important;
    line-height:1.5!important;
    text-decoration:none!important;
    letter-spacing:normal;
    -webkit-tap-highlight-color:rgba(246,139,31,.3);
    -webkit-font-smoothing:antialiased
}
#wrapper .section,
#wrapper section {
    background:0 0;
    display:block;
    margin-bottom:2em;
    margin-top:2em
}
#wrapper .wrapper {
    margin-left:auto;
    margin-right:auto;
    width:90%
}
#wrapper .columns {
    display:block;
    list-style:none;
    padding:0;
    width:100%
}
#wrapper .columns>.column {
    float:left;
    padding-bottom:45px;
    width:100%;
    box-sizing:border-box
}
@media screen and (min-width:49.2em) {
    #wrapper .columns.two>.column:nth-child(n+3) {
        padding-top:67.5px
    }
    #wrapper .columns>.column {
        padding-bottom:0
    }
    #wrapper .columns.two>.column {
        padding-left:0;
        padding-right:22.5px;
        width:50%
    }
    #wrapper .columns.two>.column:nth-child(2n) {
        padding-left:22.5px;
        padding-right:0
    }
    #wrapper .columns.two>.column:nth-child(odd) {
        clear:left
    }
}
@media screen and (min-width:66em) {
    #wrapper .columns>.column {
        padding-bottom:0
    }
}
#wrapper a {
    background:0 0;
    border:0;
    color:#2f7bbf;
    outline:0;
    text-decoration:none;
    -webkit-transition:all .15s ease;
    transition:all .15s ease
}
#wrapper a:hover {
    background:0 0;
    border:0;
    color:#f68b1f
}
#wrapper a:focus {
    background:0 0;
    border:0;
    color:#62a1d8;
    outline:0
}
#wrapper a:active {
    background:0 0;
    border:0;
    color:#c16508;
    outline:0
}
#wrapper h1,
#wrapper h2,
#wrapper h3,
#wrapper h4,
#wrapper h5,
#wrapper h6,
#wrapper p {
    color:#404040;
    margin:0;
    padding:0
}
#wrapper h1,
#wrapper h2,
#wrapper h3 {
    font-weight:400
}
#wrapper h4,
#wrapper h5,
#wrapper h6 {
    font-weight:600
}
#wrapper h1 {
    font-size:36px;
    line-height:1.2
}
#wrapper h2 {
    font-size:30px;
    line-height:1.3
}
#wrapper h3 {
    font-size:25px;
    line-height:1.3
}
#wrapper h4 {
    font-size:20px;
    line-height:1.3
}
#wrapper h5 {
    font-size:15px
}
#wrapper h6 {
    font-size:13px
}
#wrapper .subheadline {
    color:#999;
    font-weight:300
}
#wrapper .text-error {
    color:#bd2426
}
#wrapper p+p {
    margin-top:1.5em
}
#wrapper h1+p,
#wrapper p+h1,
#wrapper p+h2,
#wrapper p+h3,
#wrapper p+h4,
#wrapper p+h5,
#wrapper p+h6 {
    margin-top:1.25em
}
#wrapper h1+h2,
#wrapper h1+h3,
#wrapper h2+h3,
#wrapper h3+h4,
#wrapper h4+h5 {
    margin-top:.25em
}
#wrapper h2+p {
    margin-top:1em
}
#wrapper h1+h4,
#wrapper h1+h5,
#wrapper h1+h6,
#wrapper h2+h4,
#wrapper h2+h5,
#wrapper h2+h6,
#wrapper h3+h5,
#wrapper h3+h6,
#wrapper h3+p,
#wrapper h4+p,
#wrapper h5+p {
    margin-top:.5em
}
#wrapper .alert {
    background-color:#f9b169;
    border:1px solid #904b06;
    color:#404040;
    font-size:13px;
    padding:7.5px 15px;
    position:relative;
    vertical-align:middle;
    border-radius:2px
}
#wrapper .alert:empty {
    display:none
}
#wrapper .alert-error {
    background-color:#de5052;
    border-color:#521010;
    color:#fff
}
#inline-error-wrapper {
    box-shadow:0 2px 10px rgba(0,0,0,.5)
}
#wrapper #error-details {
    background:#fff
}
#wrapper #error-details .error-overview {
    padding:25px 0 0
}
#wrapper #error-details .error-overview h1,
#wrapper #error-details .error-overview h2 {
    font-weight:300
}
#wrapper #error-details .error-overview h2 {
    margin-top:0
}
#wrapper #error-details .highlight {
    background:#ebebeb;
    overflow-x:hidden;
    padding:30px 0;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#dedede),color-stop(3%,#ebebeb),color-stop(97%,#ebebeb),to(#dedede));
    background-image:linear-gradient(top,#dedede,#ebebeb 3%,#ebebeb 97%,#dedede)
}
#wrapper #error-details .highlight h3 {
    color:#999;
    font-weight:300
}
#wrapper #error-details .highlight .column:last-child {
    padding-bottom:0
}
#wrapper #error-details .highlight .highlight-inverse {
    background-color:#fff;
    padding:15px;
    border-radius:2px
}
#wrapper #error-details .screenshot-container {
    background:url(https://captcha.website/cdn-cgi/images/browser-bar.png?1376755637) no-repeat #fff;
    max-height:400px;
    max-width:100%;
    overflow:hidden;
    padding-top:53px;
    width:960px;
    border-radius:5px 5px 0 0
}
#wrapper #error-details .screenshot-container .no-screenshot {
    background:url(https://captcha.website/cdn-cgi/images/cf-no-screenshot-warn.png) no-repeat;
    display:block;
    height:158px;
    left:25%;
    margin-top:-79px;
    overflow:hidden;
    position:relative;
    top:50%;
    width:178px
}
#wrapper #error-details .captcha-container .screenshot-container,
.cookie-error {
    display:none
}
#wrapper #error-details .screenshot-container .no-screenshot.error {
    background:url(https://captcha.website/cdn-cgi/images/no-screenshot-error.png) no-repeat;
    height:175px
}
@media screen and (min-width:49.2em) {
    #wrapper .wrapper {
        width:708px
    }
    #wrapper #error-details h1 {
        font-size:4em
    }
    #wrapper #error-details .error-overview {
        padding-top:2.33333em
    }
    #wrapper #error-details .highlight {
        padding:4em 0
    }
    #wrapper #error-details .screenshot-container {
        height:400px;
        margin-bottom:-4em;
        max-width:none
    }
    #wrapper #error-details .captcha-container .screenshot-container {
        display:block
    }
}
@media screen and (min-width:66em) {
    #wrapper .wrapper {
        width:960px
    }
}
#wrapper #spinner {
    width:69px;
    margin:auto
}
#wrapper #please-wait {
    text-align:center
}
.attribution {
    margin-top:32px
}
.bubbles {
    background-color:#f58220;
    width:20px;
    height:20px;
    margin:2px;
    border-radius:100%;
    display:inline-block
}
#wrapper #challenge-form {
    padding-top:25px;
    padding-bottom:25px
}
#hcaptcha-container {
    text-align:center
}
#hcaptcha-container iframe {
    display:inline-block
}
@keyframes fader {
    0% {
        opacity:.2
    }
    50% {
        opacity:1
    }
    100% {
        opacity:.2
    }
}
@-webkit-keyframes fader {
    0% {
        opacity:.2
    }
    50% {
        opacity:1
    }
    100% {
        opacity:.2
    }
}
#bubbles>.bubbles {
    animation:fader 1.6s infinite
}
#bubbles>.bubbles:nth-child(2) {
    animation-delay:.2s
}
#bubbles>.bubbles:nth-child(3) {
    animation-delay:.4s
}
#google_translate_element,.skiptranslate{display:none;}body{top:0!important;}